<div>
  <h2>Welcome to Thrive or Die, where only the toughest plants survive.</h2>
  <p>Here you'll get to interact with our plant base in a variety of ways!</p>
  <ul>
    <li>➞ Click on a plant to learn more about it.</li>
  </ul>
</div>

<div>
  <img src="/images/bamboo.jpg" alt="Lucky bamboo" width="200px">
  <img src="/images/marble.jpg" alt="Marble pothos" width="200px">
  <img src="/images/golden.jpg" alt="Golden pothos" width="200px">
  <img src="/images/vcoh.jpg" alt="Variegated chain of hearts" width="200px">
  <img src="/images/carnosa.jpg" alt="Hoya Carnosa" width="200px">
  <img src="/images/hindurope.jpg" alt="Hoya Hindu Rope" width="200px">
  <img src="/images/lipstick.jpg" alt="Lipstick" width="200px">
  <img src="/images/monkeymask.jpg" alt="Monkey Mask" width="200px">
  <img src="/images/neon.jpg" alt="Neon" width="200px">
  <img src="/images/pinkbubbles.jpg" alt="Pink Bubbles" width="200px">
  <img src="/images/satin.jpg" alt="Satin Pothos" width="200px">
  <img src="/images/snakeplant.jpg" alt="Snake Plant" width="200px">
  <img src="/images/vmon.jpg" alt="Variegated Monstera" width="200px">
  <img src="/images/zebra.jpg" alt="Tradescantia Zebrina" width="200px">
</div>